.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.standard-margin {
    margin: 10px;
  }
  .ampler-padding {
    padding: 20px;
  }
  .align-self-center {
    align-self: center;
  }
  .white-text {
    color: var(--white, white);
  }
  
  .give-height {
    min-height: 50vh;
  }

  .main-container {
    margin: 0 auto;
    padding: 24px;
    max-width: 900px;
  }